/*
COLORS:

Imitation Sunlight: #f2f1ac / 242, 241, 172;
Jenny: #e2f1bc / 226, 241, 188;
Minty: #d2f1cc / 210, 241, 204;
Light Sea Breeze: #c2f1dc / 194, 241, 220;
Slipping Away: #b2f1ec / 178, 241, 236;
Leave Me Alone: #127171 / 18, 113, 113;

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #777;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    padding: 30px;
}

img {
    max-width: 100%;
}

.header {
    background-image: linear-gradient(
        to right bottom,
        rgba(242, 241, 172, 0.65),
        rgba(178, 241, 236, 0.65)
    ), url(../img/hero.jpg);
    background-position: top;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    height: 95vh;
    position: relative; /* set positioning context for logo-box */
}

.logo-box {
    left: 40px;
    position: absolute;
    top: 40px;
}

.logo-box__logo {
    height: 35px;
}

.heading-box {
    left: 50%;
    padding: 30px;
    position: absolute;
    text-align: center;
    top: 40%;
    transform: translate(-50%, -50%);
}

.heading-box__heading-text {
    backface-visibility: hidden; /* fix for animation shake */
    color: #fff;
    display: block;
    text-transform: uppercase;
}

.heading-box__heading-text--primary {
    animation: moveInFromLeft 1s ease-out;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    text-shadow: -2px 5px 0 rgba(178, 241, 236, 1);
}

.heading-box__heading-text--secondary {
    animation: moveInFromRight 1.2s ease-out;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 17.4px;
    margin-bottom: 1em;
    text-shadow: -1px 1px 0 rgba(18, 113, 113, .5);
}

.button:link,
.button:visited {
    border-radius: 100px;
    box-shadow: 0 3px 10px 1px rgba(18, 113, 113, 0.5);
    display: inline-block;
    padding: 15px 40px;
    position: relative;
    text-decoration: none;
    text-transform: none;
    transition: all 0.2s
}

.button:hover {
    transform: translateY(-5px);
}

.button:active {
    box-shadow: 0 1px 8px 1px rgba(18, 113, 113, 0.5);
    transform: translateY(-2px);
}

.button--white {
    background-color: #fff;
    color: #777;
}

.button::after {
    border-radius: 100px;
    content: '';
    display: inline-block;
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.6s;
    width: 100%;
    z-index: -1;
}

.button--white::after {
    background-color: #fff;
}

.button:hover::after {
    opacity: 0;
    transform: scaleX(1.4) scaleY(1.6);
}

.button--animated {
    animation: moveInFromBottom 1s ease-out 0.75;
    animation-fill-mode: backwards;
}

@keyframes moveInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-10vh);
    }

    80% {
        transform: translateX(2vh);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInFromRight {
    0% {
        opacity: 0;
        transform: translateX(10vh);
    }

    80% {
        transform: translateX(-2vh);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(10vh);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* @keyframes fadeOut {
    0% {
        opacity: 0;
        transform: translateX(10vh);
    }

    80% {
        transform: translateX(-2vh);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
} */
